{{ define "content" }}
  <div class="page-header">
    <h2>{{ .title }}</h2>
  </div>
  <h1>Editing {{ .album.Id.Hex }}</h1>
  <form action="/albums/{{ .album.Id.Hex }}" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" value="{{ .album.Title }}">
    </div>
    <div class="form-group">
      <label for="artist">Artist</label>
      <input type="text" name="artist" id="artist" value="{{ .album.Artist }}">
    </div>
    <button type="submit">Submit</button>
  </form>
{{ end }}