{{ define "content" }}
  <h1>All Albums</h1>
  <a href="/album/edit/">Create new album</a>
  <table>
    <thead>
      <tr>
        <th>_id</th>
        <th>title</th>
        <th>artist</th>
        <th>view</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {{ range .albums }}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Title}}</td>
          <td>{{.Artist}}</td>
          <td>
            <a href="/view/{{.ID}}">View</a>
          </td>
          <td>
            <a href="/edit/{{.ID}}">Edit</a>
          </td>
          <td>
            <a href="/delete/{{.ID}}">Delete</a>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}